* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #fff;
  --btn-primary: #17bf60;
  --btn-secondary: #010b40;
  --footer-bg: #202020;
  --footer-text-color: #fff;
  --btn-text-color: #fff;
  --text-color: #454545;
}
